.box{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background:-webkit-gradient(linear,left top, right top,from(red),to(yellow));
    background:linear-gradient(left,red,yellow);
    box-shadow: 1px 1px 5px red;
    -webkit-transition: width 1s linear;
    transition: width 1s linear;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
}